In [1]:
import pandas as pd
import geojson
import os

In [2]:
os.chdir(r'C:\Users\adam\Desktop\Project_2\flask_app\static\data')
os.getcwd()

'C:\\Users\\adam\\Desktop\\Project_2\\flask_app\\static\\data'

In [3]:
dp_df = pd.read_csv('div_polys.csv')
dp_df.head()

,Unnamed: 0,DIV_NAME,poly
0,0,Peninsula,[[-122.73 38.48]\r\n [-122.52 37.52]\r\n [...
1,1,Stockton,[[-122.16 37.67]\r\n [-121.93 37.74]\r\n [...
2,2,Diablo,[[-124.09 40.56]\r\n [-122.53 37.88]\r\n [...
3,3,San Francisco,[[-122.53 37.9 ]\r\n [-122.51 37.73]\r\n [...
4,4,Fresno,[[-122.39 37.78]\r\n [-122.29 37.84]\r\n [...

In [6]:
dp_df['poly'].replace(regex=True,inplace=True,to_replace=r'\r\n',value=r'')
dp_df.head()

,Unnamed: 0,DIV_NAME,poly
0,0,Peninsula,[[-122.73 38.48] [-122.52 37.52] [-122.52 ...
1,1,Stockton,[[-122.16 37.67] [-121.93 37.74] [-121.8 ...
2,2,Diablo,[[-124.09 40.56] [-122.53 37.88] [-122.23 ...
3,3,San Francisco,[[-122.53 37.9 ] [-122.51 37.73] [-122.51 ...
4,4,Fresno,[[-122.39 37.78] [-122.29 37.84] [-122.08 ...

In [7]:
def data2geojson(df):
    features = []
    insert_features = lambda X: features.append(
            geojson.Feature(geometry=geojson.Point((X["long"],
                                                    X["lat"])),
                            properties=dict(name=X["name"],
                                            description=X["description"])))
    df.apply(insert_features, axis=1)
    with open('map1.geojson', 'w', encoding='utf8') as fp:
        geojson.dump(geojson.FeatureCollection(features), fp, sort_keys=True, ensure_ascii=False)

SyntaxError: invalid syntax (<ipython-input-7-6730cd2a589b>, line 1)

In [ ]:
dp_df.to_json('div_polys.json')